.nav-item a{
    color: rgba(0,0,0,.9) !important;
}
.footer-down {
    position: relative;
    bottom: 0;
}
.email-mobile{
    display: none;
}
.cong-table {
    position: relative;
    text-align: center;
}
.cong-table thead{
    background-color: #adbce6
}
.cong-table thead th{
    vertical-align: middle;
}

.bg-new-blue {
    background-color: #adbce6;
}

.text{
    text-indent: 20px; 
}

.text-down {
    margin-top: 5%;
    padding-left:15px;
    padding-right: 15px;
}
.text-down h4, h5{
    padding-bottom: 5px;
    padding-top: 25px;
}


.data-table-container{
    padding-right:10px;
    padding-left: 10px;
   /* width: 70%; */
    margin: auto;
}

.header{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    height: 80px;
}

.header-right{
    float: right;
    line-height: 60px;
}
.header-left{
    float: left;
}
.header-right a{
    color: #4a84c3;
    text-decoration: underline;
}
.header-right a:hover{
    font-weight:bold;
}

.header-left span{
    font-size: 25px;
    font-weight: bold;
    color: #4a84c3;
}

.para{
    display: inline-block;
    width: 100%;
}
.para-right{
    float: right;
    width: 33%;
}
.para-left{
    float: left;
    width: 65%;
}
.bottom-half{
    width: 48% !important;
}

.home-img{
    width: 400px;
}

#glance th,td{
    padding: 0.5rem;
}


@media only screen and (max-width: 600px) {
    .email-mobile{
        display: block;
        height: 40px;
        padding: 8px 0px;
    }
    .email-mobile a{
        color: rgba(0,0,0,.9);
        text-decoration: underline;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .data-table-container{
        padding: 0px;
        width: 100%;
    }

    .header{
        padding: 0px;
    }
    .header-right{
        display: none;
    }
    .header-left span{
        font-size: 15px;
    }

    .para-right, .bottom-half{
        float: none;
        width: 100% !important;
    }
    .para-left{
        width: 100%;
    }
    .home-img{
        width: 270px;
        padding-top: 10px;
        text-align: center;
    }
    
    #collapsePara{
        padding-top: 20px;
    }
}
